@font-face {
  font-family: 'Helvetica';
  src: url("../font/HelveticaRegular.eot");
  src: url("../font/HelveticaRegular.eot") format("embedded-opentype"), url("../font/HelveticaRegular.woff") format("woff"), url("../font/HelveticaRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'HelveticaBold';
  src: url("../font/HelveticaBold.eot");
  src: url("../font/HelveticaBold.eot") format("embedded-opentype"), url("../font/HelveticaBold.woff") format("woff"), url("../font/HelveticaBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@media (max-width: 992px) {
  .top_menu {
    display: none; }
  .nav {
    margin-top: 12px; }
  .top_menu li {
    background-color: #fff;
    opacity: 0.8;
    display: block;
    height: 85px;
    text-align: center; }
  #touch-menu {
    display: block;
    text-align: center; }
  .top_menu {
    opacity: 0.9;
    padding: 0;
    margin: 0;
    text-align: center; }
  .nav a {
    text-align: center; } }

h1 {
  text-align: center;
  font-family: HelveticaBold;
  color: #fff;
  margin: 0;
  font-size: 36px; }

h2 {
  text-align: center;
  font-family: Helvetica;
  margin: 0;
  font-size: 24px; }

a, a:active, a:visited, a:link {
  text-decoration: none;
  cursor: pointer;
  font-size: 18px;
  margin: 0;
  outline: none; }

a:focus {
  color: #fff;
  outline: none; }

p {
  font-family: Helvetica;
  font-size: 18px; }

ul {
  list-style: none;
  margin: 0; }

li {
  display: inline-block; }

span {
  font-family: HelveticaBold; }

header {
  background-image: url("../images/header-bg.png");
  min-height: 610px;
  background-repeat: repeat-x;
  background-position: top center;
  background-attachment: fixed;
  background-size: cover; }
  header .home {
    margin-top: 150px; }
  header .home h2 {
    margin-bottom: 30px;
    color: #fff; }

.button {
  margin-bottom: 30px; }

.btn, button {
  border: 3px solid #38335A;
  text-align: center;
  display: block;
  color: #fff;
  background-color: #38335A;
  opacity: 0.75; }

.btn-contact {
  padding: 20px 28px 20px 24px; }

button {
  margin-top: 7px;
  padding: 20px 57px 20px 57px; }

.btn:hover {
  color: #fff;
  -webkit-box-shadow: 0px 0px 14px 1px #201f21;
  -moz-box-shadow: 0px 0px 14px 1px #201f21;
  box-shadow: 0px 0px 14px 1px #201f21;
  opacity: 1; }

.top-line {
  height: 85px;
  background-color: #fff;
  opacity: 0.8; }
  .top-line .logo {
    text-align: center;
    height: 75px;
    margin: 0;
    padding-top: 0; }
  .top-line .logo img {
    height: 75px; }
  .top-line #touch-menu {
    background: url("../images/mobile-nav.svg") no-repeat right;
    color: #3c2f2f;
    display: none;
    font-size: 18px;
    line-height: 40px;
    margin-bottom: 10px;
    text-align: center;
    padding: 38px 50px 25px 50px; }
  @media (max-width: 992px) {
    .top-line .top_menu {
      display: none; }
    .top-line .nav {
      margin-top: 12px; }
    .top-line .top_menu li {
      background-color: #fff;
      opacity: 0.8;
      display: block;
      height: 85px;
      text-align: center; }
    .top-line #touch-menu {
      display: block;
      text-align: center; }
    .top-line .top_menu {
      opacity: 0.9;
      padding: 0;
      margin: 0;
      text-align: center; }
    .top-line .nav a {
      text-align: center; } }
  .top-line .nav a, .top-line .nav a:active, .top-line .nav a:visited, .top-line .nav a:link {
    display: block;
    text-align: center;
    line-height: 44px;
    padding: 20.5px 18px;
    text-decoration: none;
    font-size: 18px;
    font-family: Helvetica;
    color: #38335A; }
  .top-line .nav a:hover {
    background-color: #bebbc1; }

.why {
  text-align: center; }
  .why p {
    color: #38335A;
    margin: 0; }
  .why .about {
    min-width: 300px; }
  .why h2 {
    margin-top: 45px;
    margin-bottom: 45px;
    color: #38335A; }

.icons {
  text-align: center;
  margin-top: 60px; }
  .icons p {
    color: #7974C5;
    padding-bottom: 55px;
    padding-top: 30px; }
  .icons img {
    width: 160px; }

.icon {
  height: 150px; }

.split-side {
  background-image: url("../images/split-side.png");
  padding-top: 150px;
  padding-bottom: 150px;
  background-repeat: repeat-x;
  background-position: top center;
  background-attachment: fixed;
  background-size: cover; }

.screening {
  background: url("../images/bg.svg") no-repeat top -50px left, url("../images/bg-2.svg") no-repeat bottom -40px right;
  min-height: 1270px; }
  .screening h2 {
    color: #38335A;
    margin-top: 60px; }
  .screening p {
    color: #38335A;
    margin-top: 100px; }
  .screening img {
    padding-top: 100px;
    width: 90px; }

.partners {
  background-color: #F2F0F0;
  text-align: center;
  min-height: 320px; }
  .partners .partner {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center; }
  .partners img {
    width: 180px; }
  .partners h2 {
    text-transform: uppercase;
    margin-top: 25px;
    margin-bottom: 25px; }

footer {
  background: #A992B1 url("../images/bg.svg") no-repeat top -50px left; }
  footer p {
    color: #fff; }

.mail {
  padding-top: 120px; }
  .mail textarea {
    width: 100%;
    height: 195px;
    border: 1px solid #38335A;
    background-color: #fff;
    padding: 12px 20px 12px 20px; }
  .mail input {
    width: 100%;
    border: 1px solid #38335A;
    background-color: #fff;
    margin-bottom: 12px;
    height: 45px;
    padding-left: 20px; }

.adress {
  padding-top: 110px; }

.footer-bottom {
  text-align: center;
  margin-top: 250px; }
  .footer-bottom p {
    margin: 0; }

.fixed {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 1;
  z-index: 100000;
  -webkit-box-shadow: -1px 8px 7px -11px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 8px 7px -11px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 8px 7px -11px rgba(0, 0, 0, 0.75);
  background: #fff url("../images/bg-2.svg") no-repeat right;
  background-size: 200px auto; }

  .part-of-team{
    width: 130px;
  }