@font-face {
  font-family: 'Helvetica';
  src: url("./font/HelveticaRegular.eot");
  src: url("./font/HelveticaRegular.eot") format("embedded-opentype"), url("./font/HelveticaRegular.woff") format("woff"), url("./font/HelveticaRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'HelveticaBold';
  src: url("./font/HelveticaBold.eot");
  src: url("./font/HelveticaBold.eot") format("embedded-opentype"), url("./font/HelveticaBold.woff") format("woff"), url("./font/HelveticaBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

amp-sidebar {
  width: 250px;
  padding-right: 10px;
  background: #0099ad; }

.amp-sidebar-image {
  line-height: 100px;
  vertical-align: middle; }

.amp-close-image {
  top: 15px;
  left: 225px;
  cursor: pointer; }

.menu {
  margin-top: 50px; }

li {
  list-style: none;
  padding: 20px; }

button {
  margin-left: 20px; }

h1, h2 {
  color: #fff;
  text-align: center;
  font-family: 'Helvetica'; }

h1 {
  font-size: 40px; }

h2 {
  font-size: 30px; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

h3 {
  font-family: 'Helvetica';
  color: #4B4C4D; }

p {
  font-size: 20px;
  color: #4B4C4D; }

a, a:active, a:hover, a:visited, a:link, a:focus {
  text-decoration: none;
  cursor: pointer;
  font-size: 18px;
  margin: 0;
  outline: none;
  color: #fff; }

.ampstart-btn {
  position: fixed;
  z-index: 100;
  border: 0;
  padding: 0;
  right: 30px;
  top: 20px; }

.ampstart-btn:hover {
  background: transparent; }

.header {
  background-image: url("./images/background.png");
  position: relative;
  background-repeat: repeat-x;
  background-position: top center;
  background-attachment: fixed;
  background-size: cover;
  min-height: 720px; }
  .header .logo {
    padding-top: 20px;
    padding-left: 30px; }
  .header .home {
    margin-top: 7%; }

.contact-btn, button {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 30px;
  text-align: center;
  cursor: pointer;
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  background: transparent; }

.contact-btn {
  border: 3px solid #003C54; }

.contact-btn:hover {
  background-color: #003C54; }

button {
  border: 3px solid #0099AD; }

button:hover {
  background-color: #0099AD; }

.about {
  background-image: url(./images/bg-3.svg); }
  .about .sections {
    min-height: 720px; }
  .about .description {
    padding: 0; }
  .about .description-header {
    padding: 20px 30px 20px 30px;
    background-color: #F3FAFB;
    margin-top: 140px;
    width: 50%; }
  .about .description-text {
    background-color: #F3FAFB;
    min-height: 520px;
    padding-left: 20px;
    padding-top: 20px; }
  .about .illustration {
    background-color: #0099AD;
    background: #0099AD url(./images/naprokillustration.svg) no-repeat;
    min-height: 520px; }
  .about span {
    font-family: 'HelveticaBold';
    color: #003C54; }
  .about h3 {
    margin: 0; }

.why {
  text-align: center;
  background-color: #F3FAFB; }
  .why h2 {
    color: #003C54; }

.icons {
  text-align: center; }
  .icons .icon-item {
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out; }
  .icons .icon-item:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2); }
  .icons p {
    color: #0099AD;
    margin-bottom: 60px;
    margin-top: 30px;
    font-size: 15px; }

.icon {
  height: 130px; }

.screening {
  background: url(./images/bg.svg) no-repeat top -60px left -18px, url(./images/bg-2.svg) no-repeat bottom -40px right; }
  .screening .steps {
    min-height: 1000px; }
    .screening .steps p {
      font-size: 14px;
      margin: 0; }
    .screening .steps h3 {
      margin: 0; }
    .screening .steps .item2 {
      margin-top: 210px; }
    .screening .steps .item3 {
      margin-top: 495px; }
    .screening .steps .item4 {
      margin-top: 770px; }
  .screening h2 {
    color: #4B4C4D; }
  .screening .numbers {
    text-align: center; }

.partners {
  background-color: #F3FAFB;
  text-align: center;
  min-height: 720px;
  /*  img{
    margin-top: 200px;
    margin-bottom: 20px;
    -moz-transition: all 0.4s ease-out;
-o-transition: all 0.4s ease-out;
-webkit-transition: all 0.4s ease-out;

  }

  img:hover{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
  }
*/ }
  .partners .partner {
    justify-content: center;
    align-items: center;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out; }
  .partners h2 {
    text-transform: uppercase;
    margin-top: 25px;
    margin-bottom: 200px;
    color: #4B4C4D; }

.footer {
  background-image: url(./images/bg-3.svg);
  padding-top: 50px; }
  .footer li {
    display: inline-block;
    padding: 20px 30px 20px 30px; }
  .footer .form-header {
    background-color: #003C54; }
  .footer .contacts-header {
    background-color: #0099AD; }
  .footer h3 {
    margin: 0;
    color: #fff;
    text-align: center; }
  .footer p {
    color: #fff; }
  .footer .form {
    background-color: #003C54;
    padding-top: 60px;
    min-height: 620px; }
  .footer .contacts {
    background-color: #0099AD;
    min-height: 620px;
    padding-top: 60px;
    padding-left: 60px; }
  .footer .fa {
    padding: 10px; }

.mail .group {
  position: relative;
  margin-bottom: 30px; }

.mail textarea {
  width: 100%;
  height: 195px;
  border: 2px solid #fff;
  background-color: #fff;
  padding: 12px 20px 12px 20px;
  background: none;
  margin-top: 45px;
  color: #fff;
  font-size: 20px; }

.mail textarea:invalid {
  box-shadow: none; }

.mail input {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 2px solid #fff;
  background: none;
  color: #fff;
  font-size: 20px; }

.mail input:focus, .mail input:invalid {
  outline: none;
  box-shadow: none; }

.mail label {
  color: #fff;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all; }

.mail input:focus ~ label, .mail input:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: #fff; }

.mail .bar {
  position: relative;
  display: block;
  width: 100%; }

.mail .bar:before, .mail .bar:after {
  content: '';
  height: 3px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #fff;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all; }

.mail .bar:before {
  left: 50%; }

.mail .bar:after {
  right: 50%; }

.mail input:focus ~ .bar:before, .mail input:focus ~ .bar:after {
  width: 50%; }

.mail .highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5; }

.mail input:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease; }

@-webkit-keyframes inputHighlighter {
  from {
    background: #5264AE; }
  to {
    width: 0;
    background: transparent; } }

@-moz-keyframes inputHighlighter {
  from {
    background: #5264AE; }
  to {
    width: 0;
    background: transparent; } }

@keyframes inputHighlighter {
  from {
    background: #5264AE; }
  to {
    width: 0;
    background: transparent; } }

#nav-icon1, #nav-icon2, #nav-icon3, #nav-icon4 {
  width: 60px;
  height: 45px;
  position: relative;
  margin: 50px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer; }

#nav-icon1 span, #nav-icon3 span, #nav-icon4 span {
  display: block;
  position: absolute;
  height: 9px;
  width: 100%;
  background: #d3531a;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out; }

#nav-icon1 span:nth-child(1) {
  top: 0px; }

#nav-icon1 span:nth-child(2) {
  top: 18px; }

#nav-icon1 span:nth-child(3) {
  top: 36px; }

#nav-icon1.open span:nth-child(1) {
  top: 18px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg); }

#nav-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px; }

#nav-icon1.open span:nth-child(3) {
  top: 18px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg); }

/* Icon 2 */
#nav-icon2 span {
  display: block;
  position: absolute;
  height: 9px;
  width: 50%;
  background: #d3531a;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out; }

#nav-icon2 span:nth-child(even) {
  left: 50%;
  border-radius: 0 9px 9px 0; }

#nav-icon2 span:nth-child(odd) {
  left: 0px;
  border-radius: 9px 0 0 9px; }

#nav-icon2 span:nth-child(1), #nav-icon2 span:nth-child(2) {
  top: 0px; }

#nav-icon2 span:nth-child(3), #nav-icon2 span:nth-child(4) {
  top: 18px; }

#nav-icon2 span:nth-child(5), #nav-icon2 span:nth-child(6) {
  top: 36px; }

#nav-icon2.open span:nth-child(1), #nav-icon2.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg); }

#nav-icon2.open span:nth-child(2), #nav-icon2.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg); }

#nav-icon2.open span:nth-child(1) {
  left: 5px;
  top: 7px; }

#nav-icon2.open span:nth-child(2) {
  left: calc(50% - 5px);
  top: 7px; }

#nav-icon2.open span:nth-child(3) {
  left: -50%;
  opacity: 0; }

#nav-icon2.open span:nth-child(4) {
  left: 100%;
  opacity: 0; }

#nav-icon2.open span:nth-child(5) {
  left: 5px;
  top: 29px; }

#nav-icon2.open span:nth-child(6) {
  left: calc(50% - 5px);
  top: 29px; }

/* Icon 3 */
#nav-icon3 span:nth-child(1) {
  top: 0px; }

#nav-icon3 span:nth-child(2), #nav-icon3 span:nth-child(3) {
  top: 18px; }

#nav-icon3 span:nth-child(4) {
  top: 36px; }

#nav-icon3.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%; }

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg); }

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg); }

#nav-icon3.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%; }

/* Icon 4 */
#nav-icon4 span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center; }

#nav-icon4 span:nth-child(2) {
  top: 18px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center; }

#nav-icon4 span:nth-child(3) {
  top: 36px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center; }

#nav-icon4.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -3px;
  left: 8px; }

#nav-icon4.open span:nth-child(2) {
  width: 0%;
  opacity: 0; }

#nav-icon4.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 39px;
  left: 8px; }

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

a {
  background-color: transparent;
}

a:active,a:hover {
  outline: 0;
}

img {
  border: 0;
}

button {
  -webkit-appearance: button;
  cursor: pointer;
}

button::-moz-focus-inner,input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

textarea {
  overflow: auto;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}

input,button,textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

img {
  vertical-align: middle;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width:768px) {
  .container {
    width: 750px;
  }
}

@media (min-width:992px) {
  .container {
    width: 970px;
  }
}

@media (min-width:1200px) {
  .container {
    width: 1170px;
  }
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

.col-sm-2,.col-md-2,.col-md-3,.col-sm-4,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-sm-8,.col-md-8,.col-xs-10,.col-sm-10,.col-xs-12,.col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

.col-xs-10,.col-xs-12 {
  float: left;
}

.col-xs-12 {
  width: 100%;
}

.col-xs-10 {
  width: 83.33333333%;
}

@media (min-width:768px) {
  .col-sm-2,  .col-sm-4,  .col-sm-8,  .col-sm-10 {
    float: left;
  }

  .col-sm-10 {
    width: 83.33333333%;
  }

  .col-sm-8 {
    width: 66.66666667%;
  }

  .col-sm-4 {
    width: 33.33333333%;
  }

  .col-sm-2 {
    width: 16.66666667%;
  }
}

@media (min-width:992px) {
  .col-md-2,  .col-md-3,  .col-md-4,  .col-md-5,  .col-md-6,  .col-md-7,  .col-md-8 {
    float: left;
  }

  .col-md-8 {
    width: 66.66666667%;
  }

  .col-md-7 {
    width: 58.33333333%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-5 {
    width: 41.66666667%;
  }

  .col-md-4 {
    width: 33.33333333%;
  }

  .col-md-3 {
    width: 25%;
  }

  .col-md-2 {
    width: 16.66666667%;
  }

  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }

  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }
}

@media (min-width:1200px) {
  .col-lg-12 {
    float: left;
  }

  .col-lg-12 {
    width: 100%;
  }
}

.container:before,.container:after,.container-fluid:before,.container-fluid:after,.row:before,.row:after {
  content: " ";
  display: table;
}

.container:after,.container-fluid:after,.row:after {
  clear: both;
}

.pull-right {
  float: right;
}

.visible-xs,.visible-sm {
  display: none;
}

@media (max-width:767px) {
  .visible-xs {
    display: block;
  }
}

@media (min-width:768px) and (max-width:991px) {
  .visible-sm {
    display: block;
  }
}

@media (max-width:767px) {
  .hidden-xs {
    display: none;
  }
}

@media (min-width:768px) and (max-width:991px) {
  .hidden-sm {
    display: none;
  }
}