<div id='footer'>
  <div class='container'>
    <div class='grid_12'>
      <a href='/'><img src='images/brand-footer.png' alt=''></a>
    </div>

    <div class='grid_12'>
      <ul class='navigation' id='nav'>
        <li>
          <a class='nav-item icon-home' href='/'>
            <span>Home</span>
          </a>
        </li>
        <li>
          <a class='nav-item icon-book' href='/about.html'>
            <span>About us</span>
          </a>
        </li>
        <li>
          <a class='nav-item icon-cog-alt' href='/sector.html'>
            <span>Sector/division</span>
          </a>
        </li>
        <li>
          <a class='nav-item icon-users' href='/help.html'>
            <span>Help &amp; advice</span>
          </a>
        </li>
        <li>
          <a class='nav-item icon-vcard' href='/contacts.html'>
            <span>Contact us</span>
          </a>
        </li>
      </ul>
    </div>

    <div class='grid_6'>
      <div class='copyright'>Recruitment Agencies Directory ©2016 All rights reserved.</div>
    </div>

    <div class='grid_6'>
      <div class='social-icons'>
        <ul>
          <li><a><span class='link icon-facebook-official' href='https://www.facebook.com' target='_blank'></span><br>Facebook</a></li>
          <li><a><span class='link icon-twitter' href='https://twitter.com' target='_blank'></span><br>Twitter</a></li>
          <li><a><span class='link icon-gplus-squared' href='https://plus.google.com/' target='_blank'></span><br>Google</a></li>
        </ul>
      </div>
    </div>

  </div>
</div>
