<div id='header'>
  <div class='menu' id='navigation'>
    <div class='container'>
      <div class='grid_2 left'>
        <a href='/' class='naprok'>
          <img src='images/2.png' height='71' alt='Naprok Outstaffing'>
        </a>
      </div>

      <div class='grid_10 right'>
        <ul class='navigation' id='nav'>
          <li>
            <a class='nav-item icon-home' href='/'>
              <span>Home</span>
            </a>
          </li>
          <li>
            <a class='nav-item icon-book' href='/about.html'>
              <span>About us</span>
            </a>
          </li>
          <li>
            <a class='nav-item icon-cog-alt' href='/sector.html'>
              <span>Sector/division</span>
            </a>
          </li>
          <li>
            <a class='nav-item icon-users' href='/help.html'>
              <span>Help &amp; advice</span>
            </a>
          </li>
          <li>
            <a class='nav-item icon-vcard' href='/contacts.html'>
              <span>Contact us</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
