@font-face {
  font-family: 'Helvetica';
  src: url('../font/HelveticaRegular.eot');
  src: url('../font/HelveticaRegular.eot') format('embedded-opentype'),
       url('../font/HelveticaRegular.woff') format('woff'),
       url('../font/HelveticaRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaBold';
  src: url('../font/HelveticaBold.eot');
  src: url('../font/HelveticaBold.eot') format('embedded-opentype'),
       url('../font/HelveticaBold.woff') format('woff'),
       url('../font/HelveticaBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

