h1{
  color: #fff;
}

h2{
  color: #fff;
}

p{
  font-size: 20px;
  color: $dark-blue;

}

a, a:active, a:hover, a:visited, a:link {
  text-decoration: none !important;
  cursor: pointer;
  font-size: 18px;
  margin: 0;
  outline: none;
  color: #fff !important;
}

a:focus{
    color: #fff;
    outline: none;
}

.header{

/*background: rgba(121,134,181,0.85);
background: -moz-linear-gradient(-45deg, rgba(121,134,181,0.85) 0%, rgba(118,87,133,0.85) 0%, rgba(152,173,209,0.89) 27%, rgba(122,146,207,0.94) 63%, rgba(195,173,222,1) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(121,134,181,0.85)), color-stop(0%, rgba(118,87,133,0.85)), color-stop(27%, rgba(152,173,209,0.89)), color-stop(63%, rgba(122,146,207,0.94)), color-stop(100%, rgba(195,173,222,1)));
background: -webkit-linear-gradient(-45deg, rgba(121,134,181,0.85) 0%, rgba(118,87,133,0.85) 0%, rgba(152,173,209,0.89) 27%, rgba(122,146,207,0.94) 63%, rgba(195,173,222,1) 100%);
background: -o-linear-gradient(-45deg, rgba(121,134,181,0.85) 0%, rgba(118,87,133,0.85) 0%, rgba(152,173,209,0.89) 27%, rgba(122,146,207,0.94) 63%, rgba(195,173,222,1) 100%);
background: -ms-linear-gradient(-45deg, rgba(121,134,181,0.85) 0%, rgba(118,87,133,0.85) 0%, rgba(152,173,209,0.89) 27%, rgba(122,146,207,0.94) 63%, rgba(195,173,222,1) 100%);
background: linear-gradient(135deg, rgba(121,134,181,0.85) 0%, rgba(118,87,133,0.85) 0%, rgba(152,173,209,0.89) 27%, rgba(122,146,207,0.94) 63%, rgba(195,173,222,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7986b5', endColorstr='#c3adde', GradientType=1 );
min-height: 100%;*/
background-image: url("../images/background.png");
position:fixed ;
top:0;
width:100%;
z-index:0;
  height:100%;
  background-size: cover;

  
  h1, h2{
    text-align: center;
  }

  h1{
    font-size: 40px;
  }

  h2{
    font-size: 30px;
  }

  .logo{
    padding-top: 20px;
    padding-left: 25px;
  }

  .home{
    margin-top: 7%;
  }
}

.contact-btn{
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 30px;
  border: 3px solid $dark-blue;
  color: #fff;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  color: $dark-blue;
  background: transparent;
}

.contact-btn:hover{
  background-color: $dark-blue;
  color: #fff;
}

.menu {
  text-align: right;
  position: fixed;
}

.menu__icon {
  display: inline-block;
  width: 45px;
  height: 35px;
  position: fixed;
  cursor: pointer;
  right: 1%;
  top: 4%;
  z-index: 1000;
}

.menu__icon span {
  display: block;
  position: absolute;
  height: 9px;
  width: 100%;
  background: $dark-blue;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.menu__icon span:nth-child(1) {
  top: 0px;
}

.menu__icon span:nth-child(2), .menu__icon span:nth-child(3) {
  top: 13px;
}

.menu__icon span:nth-child(4) {
  top: 26px;
 }

/*.menu__links-item {
    display: inline-block;
    color: #333333;
    font-family: Arial;
    font-size: 14px;
    line-height: 30px;
    padding: 0 10px;
    text-transform: uppercase;
    text-decoration: none;
}*/

.menu__links-item:hover {
    text-decoration: none;
    background-color: $blue;
}

.menu__links {
    display: none;
    top: 0;
    right: 0;
    left: 0;
    margin-top: 80px;
    background-color: $dark-blue;
    z-index: 1000;
    overflow: auto;
    opacity: 0;
    padding: 0;
  }

.menu_state_open .menu__links {
    display: block;
    width: 100%;
    position: fixed;
  }
  
  .menu__links-item {
    display: block;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 100px;
    padding-right: 100px;
    text-align: center;
    color: #ffffff;
    font-size: 20px;
  }

.menu.menu_state_open .menu__icon span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.menu.menu_state_open .menu__icon span:nth-child(2) {
  transform: rotate(45deg);
}

.menu.menu_state_open  .menu__icon span:nth-child(3) {
  transform: rotate(-45deg);
}

.menu.menu_state_open  .menu__icon span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.menu.menu_state_open .menu__links {
  opacity: 0.8;  
}

/*@media screen and (max-width: 999px) {
  .menu__icon{
    display: inline-block;
  }
  
  .menu__links {
    position: fixed;
    display: block;
    top: 0;
    right: 0;
    left: 0;
    margin-top: 52px;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    overflow: auto;
    opacity: 0;
  }
  
  .menu__links-item {
    display: block;
    padding: 10px 0;
    text-align: center;
    color: #ffffff;
  }
}*/

#section1{
  background: url("../images/bg-2.svg") no-repeat bottom -40px right; 
}

.about{
  min-height: 85%;

  p{
    color: #fff;
  }
}

#section2{
    background: url("../images/bg.svg") no-repeat top -50px left,
                url("../images/bg-2.svg") no-repeat bottom -40px right;
}

.why{
  text-align: center;

  p{
    color: $dark-blue;
    margin: 0;
  }

  h2{
  margin-top: 45px;
  margin-bottom: 45px;
  color: $dark-blue;
  }
}

.icons{
  text-align: center;

  .icon-item{
    -moz-transition: all 1s ease-out;
-o-transition: all 1s ease-out;
-webkit-transition: all 1s ease-out;
  }

  .icon-item:hover{
 -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  }

 p{
    color: $dark-blue;
    padding-bottom: 30px;
    padding-top: 30px;
    font-size: 15px;
  }

  img{
    width: 130px;
  }
}

.icon{
  height: 130px;
}

.screening{
  min-height: 100%;
  background: url("../images/bg.svg") no-repeat top -50px left;

  h2{
    color: $dark-blue;
    margin-top: 60px;
    text-align: center;
  }

  p{
    color: $dark-blue;
    transition: all 0.8s ease;
    margin-bottom: 5%;
    font-size: 15px;
  }

  img{
    width: 80px;
    transition: all 0.8s ease;
    fill: #ffb600;
  }
}
#section4{
  background-color: #e7e6e6;
}

.partners{
  h2{
    color: $dark-blue;
    text-align: center;
    margin-bottom: 60px;
  }
}

.partner{
  text-align: center;

    img{
      width: 60%;
    -moz-transition: all 0.4s ease-out;
-o-transition: all 0.4s ease-out;
-webkit-transition: all 0.4s ease-out;

  }

  img:hover{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
  }
}

.contact{
  height: 100%;
}

.mail{
  padding-top: 60px;

  .group{ 
    position:relative; 
    margin-bottom: 30px; 
  }

  textarea{
      width: 100%;
      height: 195px;
      border: 2px solid $dark-blue;
      background-color: #fff;
      padding: 12px 20px 12px 20px;
      background: none;
      margin-top: 45px;
      color: #fff;
      font-size: 20px;
  }

  textarea:invalid { 
    box-shadow:none;
  }

  input         {
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width: 100%;
  border:none;
  border-bottom:2px solid $dark-blue;
  background: none;
  color: #fff;
  font-size: 20px;
}
input:focus, input:invalid { 
  outline:none;
  box-shadow:none;

}

label {
  color:$dark-blue; 
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

input:focus ~ label, input:valid ~ label    {
  top:-20px;
  font-size:14px;
  color:$dark-blue;
}

.bar  { 
  position:relative; 
  display:block; 
  width: 100%; 
}

.bar:before, .bar:after   {
  content:'';
  height:3px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:$dark-blue; 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%; 
}

input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}

.highlight {
  position:absolute;
  height:60%; 
  width:100px; 
  top:25%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}

input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

@-webkit-keyframes inputHighlighter {
  from { background:#5264AE; }
  to  { width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
  from { background:#5264AE; }
  to  { width:0; background:transparent; }
}
@keyframes inputHighlighter {
  from { background:#5264AE; }
  to  { width:0; background:transparent; }
}
}

.adress{
  padding-top: 135px;
}

.footer-bottom{
  text-align: center;
  margin-top: 250px;

   p{
    margin: 0;
   }
}

#facebook, #linkedin, #twitter, #google-plus{
  display: inline-block;
  width: 40px;
  height: 40px;
}


#fp-nav ul li a span, 
.fp-slidesNav ul li a span {
    width: 15px !important;
    height: 15px !important;
    margin:-15px 0 0 -10px !important;
    background: transparent !important;
    box-sizing: border-box !important;
    border: 2px solid $dark-blue !important;
}

#fp-nav ul li a.active span, 
.fp-slidesNav ul li a.active span, 
#fp-nav ul li:hover a.active span, 
.fp-slidesNav ul li:hover a.active span {
    margin: -8px 0 0 -8px;
    background: $dark-blue !important;
}

.fp-slides{
  .fp-controlArrow.fp-next{
    right: 50px !important;
  }

  .fp-controlArrow.fp-prev{
    left: 50px !important;
  }
}

legend{
  color: $dark-blue;
}

fieldset{
  border: 2px solid $dark-blue !important;
}
