h1{
  text-align: center;
  font-family: HelveticaBold;
  color: #fff;
  margin: 0;
  font-size: 36px;
}

h2{
  text-align: center;
  font-family: Helvetica;
  margin: 0;
  font-size: 24px;
}

a, a:active, a:hover, a:visited, a:link {
  text-decoration: none;
  cursor: pointer;
  font-size: 18px;
  margin: 0;
  outline: none;
}

a:focus{
    color: #fff;
    outline: none;
}

i{
  color: #fff;
  padding: 5px;
}

p{
  font-family: Helvetica;
  font-size: 18px;
}

ul{
    list-style: none;
    margin: 0;
}

li{
  display: inline-block;
}

span{
  font-family: HelveticaBold;
}

header{
  background-image: url("../images/header-bg.png");
  min-height: 610px;
  background-repeat: repeat-x;
  background-position: top center;
  background-attachment: fixed;
  background-size: cover;

  .home{
    margin-top: 150px;
    margin-bottom: 50px; 
    min-height: 380px;
  }

  .home h2{
    margin-bottom: 40px;
    color: #fff
  }

  .home p{
    font-size: 20px;
    color: #fff
  }

  .btn-contact{
    margin-bottom: 80px;
  }
}

.button{
  margin-bottom: 30px;
}

.btn, button{
  border: 3px solid $dark-blue;
  text-align: center;
  display: block;
  color: #fff;
  background-color: $dark-blue;
  opacity: 0.75;
}

.btn-contact{
  padding: 20px 28px 20px 24px;
  margin-bottom: 130px;
}

.btn-contact:hover{
  text-decoration:none;
}

button{
  margin-top: 7px;
  padding: 20px 57px 20px 57px;
}

.btn:hover{
  color: #fff;
-webkit-box-shadow: 0px 0px 14px 1px rgba(32,31,33,1);
-moz-box-shadow: 0px 0px 14px 1px rgba(32,31,33,1);
box-shadow: 0px 0px 14px 1px rgba(32,31,33,1);
opacity: 1;
}

.top-line{
  height: 85px;
  background-color: #fff;
  opacity: 0.8;

  .logo{
    text-align: center;
    height: 75px;
    margin: 0;
    padding-top: 0; 
  }

  .logo img{
    height: 75px;
  }

  #touch-menu
{
  background: url("../images/mobile-nav.svg") no-repeat right;
color: #3c2f2f;
display: none;
font-size: 18px;
line-height: 40px;
margin-bottom: 10px;
text-align: center;
padding: 38px 50px 25px 50px;

}

@import 'media';

.nav a, .nav a:active, .nav a:visited, .nav a:link {
    display: block;
    text-align: center;
    line-height: 44px;
    padding: 20.5px 18px;
    text-decoration: none;
    font-size: 18px;
    font-family: Helvetica;
    color: $dark-blue;
  }
  .nav a:hover{
    background-color: #bebbc1;
  }
}

.why{
  text-align: center;

  p{
    color: $dark-blue;
    margin: 0;
  }

  .about{
    min-width: 300px;
  }

  h2{
  margin-top: 45px;
  margin-bottom: 45px;
  color: $dark-blue;
  }
}

.icons{
  text-align: center;
  margin-top: 60px;

  .icon-item{
    -moz-transition: all 1s ease-out;
-o-transition: all 1s ease-out;
-webkit-transition: all 1s ease-out;
  }

  .icon-item:hover{
 -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  }

 p{
    color: $purpure;
    padding-bottom: 55px;
    padding-top: 30px;
  }

  img{
    width: 160px;
  }
}

.icon{
  height: 150px;
}

.split-side{
  background-image: url("../images/split-side.png");
  padding-top: 150px;
  padding-bottom: 150px;
  background-repeat: repeat-x;
  background-position: top center;
  background-attachment: fixed;
  background-size: cover;
}

.screening{

  background: url("../images/bg.svg") no-repeat top -50px left, 
              url("../images/bg-2.svg") no-repeat bottom -40px right;
  min-height: 1270px;

  .item-screening:hover{
    p{
      color: $dark-blue;
      margin-top: 100px;
      -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
      transform: scale(1.2);
    }

    img{
     -webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
      transform: scale(1.3);
    }
  }

  h2{
    color: $dark-blue;
    margin-top: 60px;
  }

  p{
    color: $dark-blue;
    margin-top: 100px;
    transition: all 0.8s ease;
  }

  img{
    padding-top: 100px;
    width: 90px;
    transition: all 0.8s ease;
  }
}

.partners{
  background-color: #F2F0F0;
  text-align: center;
  min-height: 320px;

  .partner{
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    -moz-transition: all 1s ease-out;
-o-transition: all 1s ease-out;
-webkit-transition: all 1s ease-out;
  }

  img{
    width: 180px;
    -moz-transition: all 0.4s ease-out;
-o-transition: all 0.4s ease-out;
-webkit-transition: all 0.4s ease-out;

  }

  img:hover{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
  }

  h2{
    text-transform: uppercase;
    margin-top: 25px;
    margin-bottom: 25px;
  }
}

footer{
  background: #C8B4CF url("../images/bg.svg") no-repeat top -90px left -80px;

  p{
    color: #fff;
  }
}

.mail{
  padding-top: 120px;
  .group{ 
    position:relative; 
    margin-bottom: 30px; 
  }

  textarea{
      width: 100%;
      height: 195px;
      border: 2px solid $light-blue;
      background-color: #fff;
      padding: 12px 20px 12px 20px;
      background: none;
      margin-top: 45px;
      color: #fff;
      font-size: 20px;
  }

  textarea:invalid { 
    box-shadow:none;
  }

  input         {
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width: 100%;
  border:none;
  border-bottom:2px solid $light-blue;
  background: none;
  color: #fff;
  font-size: 20px;
}
input:focus, input:invalid { 
  outline:none;
  box-shadow:none;

}

label {
  color:$light-blue; 
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

input:focus ~ label, input:valid ~ label    {
  top:-20px;
  font-size:14px;
  color:$light-blue;
}

.bar  { 
  position:relative; 
  display:block; 
  width: 100%; 
}

.bar:before, .bar:after   {
  content:'';
  height:3px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:$dark-blue; 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%; 
}

input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}

.highlight {
  position:absolute;
  height:60%; 
  width:100px; 
  top:25%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}

input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

@-webkit-keyframes inputHighlighter {
  from { background:#5264AE; }
  to  { width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
  from { background:#5264AE; }
  to  { width:0; background:transparent; }
}
@keyframes inputHighlighter {
  from { background:#5264AE; }
  to  { width:0; background:transparent; }
}
}

.adress{
  padding-top: 135px;
}

.footer-bottom{
  text-align: center;
  margin-top: 250px;

   p{
    margin: 0;
   }
}

.fixed{
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 1;
  z-index: 100000;
-webkit-box-shadow: -1px 8px 7px -11px rgba(0,0,0,0.75);
-moz-box-shadow: -1px 8px 7px -11px rgba(0,0,0,0.75);
box-shadow: -1px 8px 7px -11px rgba(0,0,0,0.75);
background:  #fff url("../images/bg-2.svg") no-repeat right;
background-size: 200px auto;
}

#facebook, #linkedin, #twitter, #google-plus{
  display: inline-block;
  width: 40px;
  height: 40px;
}

#facebook:hover{
  background-color: #2e2eb9;
}

#linkedin:hover{
  background-color: #3f80f2;
}

.fa-twitter:hover{
  color: #3f80f2;
}

.fa-google-plus:hover{
  color: #f05a5a;
}


