 @media (max-width: 992px)
{
   .steps{
    background: url("../images/items.svg") no-repeat top left !important;
  }

  .item4{
    margin-top: 780px !important;
  }

  .item3{
    margin-top: 500px !important;
  }
} 