$blue: #A75ADA;
$black: #243238;
$dark-blue: #892CED;
$light-blue: #CD93C3;
$yellow: #C080CA;

$graph-1: 0% 37%;
$graph-2: 5% 35%;
$graph-3: 13% 33%;
$graph-4: 21% 32%;
$graph-5: 28% 28%;
$graph-6: 46% 25%;
$graph-7: 56% 23%;
$graph-8: 67% 20%;
$graph-9: 79% 20%;
$graph-10: 89% 14%;
$graph-11: 98% 17%;
$graph-12: 100% 18%;

$border: dashed #baa5d2 7px;
