@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,500,600,700,800");
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
.debug {
  border: 2px solid red; }

.body {
  font-family: 'Open Sans', sans-serif; }

.left-nav {
  z-index: 10;
  position: fixed;
  left: 8vw;
  top: 18vw;
  height: 32vh;
  width: 30px;
  font-family: 'Open Sans', sans-serif; }
  .left-nav a {
    text-decoration: none;
    color: #bfbfbf;
    font-size: 25px;
    font-weight: 400;
    line-height: 2;
    margin-left: -5px; }
    .left-nav a .active {
      color: #00e3e6; }
  .left-nav a:hover {
    color: #00e3e6; }
  .left-nav img:hover {
    cursor: pointer; }

#sidebar {
  font-family: 'Open Sans', sans-serif; }
  #sidebar li {
    list-style-type: none; }
  #sidebar a {
    text-decoration: none;
    margin-right: 20px;
    line-height: 2;
    color: #6f6f6f; }
  #sidebar a:hover {
    color: #00e3e6; }

.header {
  position: absolute;
  padding-top: 90px;
  font-family: 'Open Sans', sans-serif; }
  .header .nav-panel {
    margin-top: 3%; }
  .header a {
    text-decoration: none;
    color: #6f6f6f;
    font-weight: 400;
    text-transform: uppercase;
    margin-right: 15px;
    font-size: 18px;
    white-space: nowrap; }
  .header a:hover {
    color: #00e8ee;
    text-decoration: underline; }

.burger {
  position: fixed;
  z-index: 10;
  top: 110px;
  right: 10vw; }

.burger:hover {
  cursor: pointer; }

.section-1 {
  font-family: 'Open Sans', sans-serif;
  background-image: url("./images/1-background.png");
  background-repeat: no-repeat;
  background-size: 100%;
  padding-top: 18%; }
  .section-1 .big-text {
    color: #6f6f6f;
    font-weight: 700;
    line-height: 1;
    font-size: 3.1vw; }
  .section-1 .small-text {
    color: #000000;
    font-weight: 400;
    font-size: 23px;
    margin-top: 6%; }
  .section-1 .talk-button {
    background-color: #00e3e6;
    color: #ffffff;
    font-weight: 700;
    font-size: 25px;
    width: 385px;
    height: 70px;
    border-radius: 36px;
    outline: none;
    border: transparent 0px solid;
    margin-top: 15%;
    margin-bottom: 15%; }
  .section-1 .talk-button:hover {
    cursor: pointer; }

.section-2 {
  overflow: hidden;
  font-family: 'Open Sans', sans-serif;
  background-color: #f3f3f3;
  background-image: url("./images/2-bg.png");
  background-repeat: no-repeat;
  background-size: 100%;
  padding-top: 5%; }
  .section-2 .stripes {
    font-weight: 400;
    font-size: 25px;
    letter-spacing: 1.25px;
    color: #ffffff; }
    .section-2 .stripes .stripe-1 {
      padding: 20px;
      float: left;
      background-color: #00e3e6; }
    .section-2 .stripes .stripe-2 {
      padding: 20px;
      background-color: #00b8ba;
      float: left; }
    .section-2 .stripes .stripe-3 {
      padding: 20px;
      float: left;
      background-color: #018e90; }
  .section-2 .title {
    padding-top: 15%;
    color: #000000;
    font-size: 50px;
    font-weight: 700; }
  .section-2 .small-text {
    padding-top: 5%;
    color: #000000;
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 20%; }

.section-3 {
  overflow: hidden;
  font-family: 'Open Sans', sans-serif;
  background-color: #ffffff;
  padding-top: 4%;
  padding-bottom: 10%; }
  .section-3 .bg {
    background-image: url("./images/3-bg.png");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 42vw;
    margin-top: -3.5%;
    margin-bottom: -5%; }
  .section-3 .head {
    color: #010101;
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 2.5px;
    margin-bottom: 5%; }
  .section-3 .block .head {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1.13px;
    margin-bottom: 5%;
    margin-top: 10%; }
  .section-3 .block .body {
    color: #464646;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0.17px;
    line-height: 1.5; }
  .section-3 .block .red {
    color: #e95221; }
  .section-3 .block .green {
    color: #62c301; }
  .section-3 .block .blue {
    color: #00e3e6; }
  .section-3 .block .yellow {
    color: #dda400; }
  .section-3 .block .green-2 {
    color: #00c76c; }
  .section-3 .block .red-2 {
    color: #f13b00; }
  .section-3 .block .yellow-2 {
    color: #dda704; }
  .section-3 .block .green-3 {
    color: #01db78; }
  .section-3 .block .green-4 {
    color: #6fdd00; }
  .section-3 .block .blue-1 {
    color: #00e3e6; }

.section-4 {
  overflow: hidden;
  background-image: url("./images/4-bg.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: #1c282d;
  font-family: 'Open Sans', sans-serif;
  padding-top: 5%;
  padding-bottom: 5%; }
  .section-4 .title {
    color: #ffffff;
    font-size: 2.6vw;
    font-weight: 700;
    letter-spacing: 2.84px;
    margin-bottom: 15%; }
    .section-4 .title .blue {
      color: #00e8ee; }
  .section-4 .head {
    color: #00e3e6;
    font-size: 1.5vw;
    font-weight: bold;
    margin-bottom: 10%; }
  .section-4 .body {
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    line-height: 1.5;
    margin-bottom: 20%; }

.section-5 {
  overflow: hidden;
  background-color: #f3f3f3;
  padding-top: 5%;
  font-family: 'Open Sans', sans-serif;
  padding-bottom: 10%; }
  .section-5 .title {
    color: #000000;
    font-size: 50px;
    font-weight: 700; }
    .section-5 .title .blue {
      color: #00e3e6; }
  .section-5 .amp-scrollable-carousel-slide {
    margin-left: 0px; }
  .section-5 .item {
    box-shadow: 3px 3px 13px rgba(0, 1, 1, 0.2);
    width: 90%;
    background-color: white;
    height: 200px; }

.section-6 {
  overflow: hidden;
  background-color: #1c282d;
  font-family: 'Open Sans', sans-serif; }
  .section-6 .left {
    height: 50vw;
    background-image: url("./images/6-bg.png");
    background-size: cover;
    background-repeat: no-repeat; }
  .section-6 .contact-form .head {
    margin-top: 20%;
    color: #ffffff;
    font-size: 50px;
    font-weight: 800; }
  .section-6 .contact-form .body {
    margin-top: 5%;
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.75px;
    line-height: 1.5; }
  .section-6 .contact-form form {
    margin-top: 20%;
    border: 0px; }
    .section-6 .contact-form form input[type='text'], .section-6 .contact-form form input[type='email'] {
      padding: 4%;
      padding-left: 10%;
      margin-bottom: 8%;
      width: 80%;
      background-color: transparent;
      box-shadow: 0 0 16px rgba(0, 227, 230, 0.2);
      border-radius: 31px;
      border: 2px solid #00e3e6;
      color: #ffffff;
      font-size: 18px;
      font-weight: 700;
      letter-spacing: 1.02px; }
    .section-6 .contact-form form input[type='submit'] {
      color: #ffffff;
      font-size: 22px;
      font-weight: 700;
      letter-spacing: 1.84px;
      border-radius: 31px;
      background-color: #00e3e6;
      border: 0px;
      padding-left: 10%;
      padding-right: 10%;
      padding-top: 4%;
      padding-bottom: 4%; }
    .section-6 .contact-form form input[type='submit']:hover {
      cursor: pointer; }

.footer {
  background-color: #f3f3f3;
  font-family: 'Open Sans', sans-serif; }
  .footer .logo {
    margin-top: 13%; }
  .footer .bottom-navs {
    margin-top: 3%; }
    .footer .bottom-navs a:hover {
      cursor: pointer;
      color: #00e3e6; }
    .footer .bottom-navs a {
      text-decoration: none;
      color: #1c282d;
      font-size: 18px;
      font-weight: 500;
      letter-spacing: 0.9px;
      line-height: 2; }
  .footer .contacts {
    margin-top: 2%;
    color: #1c282d;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.18px;
    line-height: 1.5; }
  .footer .media {
    margin-top: 4%; }
    .footer .media a {
      text-decoration: none;
      margin-right: 4%; }
    .footer .media .talk-button {
      background-color: #00e3e6;
      color: #ffffff;
      font-weight: 700;
      font-size: 22px;
      letter-spacing: 1.84px;
      width: 275px;
      height: 63px;
      border-radius: 36px;
      outline: none;
      border: transparent 0px solid;
      margin-top: 10%; }
    .footer .media .talk-button:hover {
      cursor: pointer; }
  .footer .cpr {
    color: #8b8b8b;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.18px;
    margin-top: 2%;
    margin-bottom: 2%; }

@media (min-width: 992px) and (max-width: 1275px) {
  .section-6 .left {
    height: 60vw; } }

@media (min-width: 1px) and (max-width: 991px) {
  .burger {
    top: 0px;
    right: 0px; }
  .section-1 {
    padding-top: 250px; }
    .section-1 .big-text {
      font-size: 60px; }
  .section-3 {
    background-size: 0px; }
  .section-4 .title {
    font-size: 50px; }
  .section-4 .head {
    font-size: 30px; } }
