@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700");
.debug {
  border: 2px solid red; }

.burger {
  position: fixed;
  z-index: 10; }

.burger:hover {
  cursor: pointer; }

.section-1 {
  font-family: 'Open Sans', sans-serif;
  background-image: url("./images/1-background.png");
  background-repeat: no-repeat;
  padding-top: 4%; }
  .section-1 .nav-panel {
    margin-right: 30px; }
    .section-1 .nav-panel a {
      text-decoration: none;
      color: #6f6f6f;
      font-weight: 400;
      text-transform: uppercase;
      margin-right: 15px;
      white-space: nowrap; }
    .section-1 .nav-panel a:hover {
      color: #00e8ee;
      text-decoration: underline; }
  .section-1 .big-text {
    color: #6f6f6f;
    font-weight: 700;
    line-height: 1; }
  .section-1 .small-text {
    color: #000000;
    font-weight: 400;
    margin-top: 6%; }
  .section-1 .talk-button {
    background-color: #00e3e6;
    color: #ffffff;
    font-weight: 700;
    font-size: 25px;
    width: 385px;
    height: 70px;
    border-radius: 36px;
    outline: none;
    border: transparent 0px solid; }
  .section-1 .talk-button:hover {
    cursor: pointer; }

.section-2 {
  font-family: 'Open Sans', sans-serif;
  background-color: #f3f3f3;
  font-weight: 400;
  font-size: 25px;
  letter-spacing: 1.25px;
  color: #ffffff; }
  .section-2 .stripe-1 {
    margin-top: 10%;
    padding: 20px;
    display: inline-block;
    background-color: #00e3e6;
    margin-right: -9.25px; }
  .section-2 .stripe-2 {
    padding: 20px;
    display: inline-block;
    background-color: #00b8ba;
    margin-right: -9.25px; }
  .section-2 .stripe-3 {
    padding: 20px;
    display: inline-block;
    background-color: #018e90; }
  .section-2 .header {
    margin-top: 25%;
    color: black;
    font-size: 50px;
    font-weight: 700; }
  .section-2 .text {
    margin-top: 10%;
    color: black;
    font-size: 25px;
    font-weight: 400;
    line-height: 1.5;
    text-align: justify;
    margin-bottom: 25%; }
  .section-2 .bg amp-img {
    margin-top: 25%; }
